@model List<Student>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string[] mail = @Model[0].EPOSTA1.Split('@');
}

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class="container">
        <div class="card card-custom">
            <div class="card-body p-0">
                <!--begin: Wizard-->
                <div class="wizard wizard-2" id="kt_wizard" data-wizard-state="first" data-wizard-clickable="false">
                    <!--begin: Wizard Nav-->
                    <div class="wizard-nav border-right py-8 px-8 py-lg-20 px-lg-10" style="padding:0px !important">
                        <div class="card-body">
                            <!--end::Toolbar-->
                            <!--begin::User-->
                            <div class="d-flex align-items-center">
                                <div class="symbol symbol-60 symbol-xxl-100 mr-5 align-self-start align-self-xxl-center">
                                    <div class="symbol-label" style="background-image: url('@Model[0].PICTURE')"></div>
                                </div>
                                <div>
                                    <h1 class="font-weight-bolder font-size-h5 text-dark-75 text-hover-primary">@Model[0].OGR_ADI @Model[0].OGR_SOYAD</h1>
                                    <div class="text-muted"> @mail[0].Substring(0, 2)*****@mail[0].Substring(mail[0].Length - 2, 2)@Model[0].EPOSTA1.Substring(mail[0].Length, 1)@mail[1].Substring(0, 2)*****@mail[1].Substring(mail[1].Length - 2, 2)</div>

                                    <div class="text-muted">@Model[0].EPOSTA2</div>
                                    <div class="mt-2">
                                        <a href="@Url.Action("Close", "Student")" class="btn btn-sm btn-danger font-weight-bold py-2 px-3 px-xxl-5 my-1">Çıkış</a>
                                    </div>
                                </div>
                            </div>
                            <div class="py-9">

                                <div class="pb-3" style="background: #3699ff; padding-left: 10px; padding-top: 10px;">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <span class="font-weight-bold mr-2" style="font-weight: bold !important; color:white">Eğitim Bilgileri</span>
                                    </div>
                                </div>
                                <div style="box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 10%);">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th scope="col">Fakülte</th>
                                                <th scope="col">Bölüm</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.FAKULTE_AD</td>
                                                    <td>@item.BOLUM_AD</td>
                                                </tr>
                                            }



                                        </tbody>
                                    </table>
                                </div>



                            </div>
                            <div class="navi navi-bold navi-hover navi-active navi-link-rounded">
                                <div class="navi-item mb-2">
                                    <a href="@Url.Action("StudentInfo", "Student")" class="navi-link py-4 active">
                                        <span class="navi-icon mr-2">
                                            <span class="svg-icon">
                                                <!--begin::Svg Icon | path:/metronic/theme/html/demo2/dist/assets/media/svg/icons/Design/Layers.svg-->
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                                        <path d="M12.9336061,16.072447 L19.36,10.9564761 L19.5181585,10.8312381 C20.1676248,10.3169571 20.2772143,9.3735535 19.7629333,8.72408713 C19.6917232,8.63415859 19.6104327,8.55269514 19.5206557,8.48129411 L12.9336854,3.24257445 C12.3871201,2.80788259 11.6128799,2.80788259 11.0663146,3.24257445 L4.47482784,8.48488609 C3.82645598,9.00054628 3.71887192,9.94418071 4.23453211,10.5925526 C4.30500305,10.6811601 4.38527899,10.7615046 4.47382636,10.8320511 L4.63,10.9564761 L11.0659024,16.0730648 C11.6126744,16.5077525 12.3871218,16.5074963 12.9336061,16.072447 Z" fill="#000000" fill-rule="nonzero"></path>
                                                        <path d="M11.0563554,18.6706981 L5.33593024,14.122919 C4.94553994,13.8125559 4.37746707,13.8774308 4.06710397,14.2678211 C4.06471678,14.2708238 4.06234874,14.2738418 4.06,14.2768747 L4.06,14.2768747 C3.75257288,14.6738539 3.82516916,15.244888 4.22214834,15.5523151 C4.22358765,15.5534297 4.2250303,15.55454 4.22647627,15.555646 L11.0872776,20.8031356 C11.6250734,21.2144692 12.371757,21.2145375 12.909628,20.8033023 L19.7677785,15.559828 C20.1693192,15.2528257 20.2459576,14.6784381 19.9389553,14.2768974 C19.9376429,14.2751809 19.9363245,14.2734691 19.935,14.2717619 L19.935,14.2717619 C19.6266937,13.8743807 19.0546209,13.8021712 18.6572397,14.1104775 C18.654352,14.112718 18.6514778,14.1149757 18.6486172,14.1172508 L12.9235044,18.6705218 C12.377022,19.1051477 11.6029199,19.1052208 11.0563554,18.6706981 Z" fill="#000000" opacity="0.3"></path>
                                                    </g>
                                                </svg>
                                                <!--end::Svg Icon-->
                                            </span>
                                        </span>
                                        <span class="navi-text font-size-lg">Hes Kodu Kaydı</span>
                                    </a>
                                </div>
                            </div>
                            <!--end::Nav-->
                        </div>

                    </div>
                    <!--end: Wizard Nav-->
                    <!--begin: Wizard Body-->
                    <div class="wizard-body py-8 px-8 py-lg-20 px-lg-10" style="margin:auto">
                        <!--begin: Wizard Form-->
                        <div class="row">


                            <div class="offset-xxl-2 col-xxl-8" style="text-align:center">

                                @if (ViewBag.ResultErrorVaccinated != null)
                                {
                                    <i class="far fa-check-circle" style="color:red; font-size:50px"></i>
                                    <h1 style="font-size: 2em; color:red; text-align:center">Hes Uygulamasından aşı onayı veriniz.</h1>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                        Nasıl Yapılır?
                                    </button>

                                    <!-- Modal-->
                                    <div class="modal fade" id="exampleModalCenter" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true" style="padding-left:0px !important">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Nasıl Yapılır?</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <i aria-hidden="true" class="ki ki-close"></i>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <div data-scroll="true" data-height="300">
                                                        <img style="width:71%" src="~/1632986447011.gif" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                                else
                                {
                                    if (ViewBag.current_health_status == "RISKLESS")
                                    {
                                        <i class="far fa-check-circle" style="color:green; font-size:50px"></i>
                                        <h1 style="font-size: 2em; color:green; text-align:center">Risksiz</h1>
                                    }
                                    else if (ViewBag.current_health_status == "RISKY")
                                    {
                                        <i class="far fa-check-circle" style="color:RED; font-size:50px"></i>
                                        <h1 style="font-size: 2em; color:green; text-align:center">Riskli</h1>
                                    }

                            <form class="form fv-plugins-bootstrap fv-plugins-framework" id="kt_form" action="@Url.Action("HesCodeSave", "Student")" method="POST">
                                <!--begin: Wizard Step 1-->
                                <!--end: Wizard Step 1-->
                                <!--begin: Wizard Step 2-->
                                <input type="hidden" name="hes" value="@ViewBag.Hes" />
                                <input type="hidden" name="status" value="@ViewBag.Status" />
                                <input type="hidden" name="durum" value="@ViewBag.Durum" />
                                <input type="hidden" name="tc" value="@Model[0].TC_KIMLIK_NO" />
                                <input type="hidden" name="expiration_date" value="@ViewBag.expiration_date">
                                <input type="hidden" name="current_health_status" value="@ViewBag.current_health_status">
                                <input type="hidden" name="masked_identity_number" value="@ViewBag.masked_identity_number">
                                <input type="hidden" name="masked_firstname" value="@ViewBag.masked_firstname">
                                <input type="hidden" name="masked_lastname" value="@ViewBag.masked_lastname">

                                @if (ViewBag.is_vaccinated == true)
                                {
                                    <input type="hidden" name="is_vaccinated" value=true>
                                }
                                else if (ViewBag.is_vaccinated == false)
                                {
                                    <input type="hidden" name="is_vaccinated" value=false>
                                }
                                else
                                {
                                    <input type="hidden" name="is_vaccinated" value="@ViewBag.is_vaccinated">
                                }


                                @if (ViewBag.is_test_data_shared == true)
                                {
                                    <input type="hidden" name="is_test_data_shared" value=true>
                                }
                                else if (ViewBag.is_test_data_shared == false)
                                {
                                    <input type="hidden" name="is_test_data_shared" value=false>
                                }
                                else
                                {
                                    <input type="hidden" name="is_test_data_shared" value="@ViewBag.is_test_data_shared">
                                }

                                @if (ViewBag.is_immune == true)
                                {
                                    <input type="hidden" name="is_immune" value=true>
                                }
                                else if (ViewBag.is_immune == false)
                                {
                                    <input type="hidden" name="is_immune" value=false>
                                }
                                else
                                {
                                    <input type="hidden" name="is_immune" value="@ViewBag.is_immune">
                                }


                                <input type="hidden" name="last_negative_test_date" value="@ViewBag.last_negative_test_date">
                                <div class="py-9">

                                    <div class="pb-3" style="background: #3699ff; padding-left: 10px; padding-top: 10px;">
                                        <div class="d-flex align-items-center justify-content-between" style="display: block !important; text-align: center;">
                                            <span class="font-weight-bold mr-2" style="font-weight: bold !important; color:white">Hes Bilgileri</span>
                                        </div>
                                    </div>
                                    <div style="box-shadow: 0px 0px 30px 0px rgb(82 63 105 / 10%);">
                                        <table class="table table-bordered">

                                            <tbody>
                                                <tr>
                                                    <th scope="col">Aşılı Durumu</th>
                                                    @if (ViewBag.is_vaccinated == true)
                                                    {
                                                        <td>Evet</td>
                                                    }
                                                    else if (ViewBag.is_vaccinated == false)
                                                    {
                                                        <td>Hayır</td>
                                                    }
                                                    else if (ViewBag.is_vaccinated == null)
                                                    {
                                                        <td>Bilgi Bulunamadı</td>
                                                    }

                                                </tr>
                                                <tr>
                                                    <th scope="col">Geçirilmiş Hastalık</th>
                                                    @if (ViewBag.is_immune == true)
                                                    {
                                                        <td>Evet</td>
                                                    }
                                                    else if (ViewBag.is_immune == false)
                                                    {
                                                        <td>Hayır</td>
                                                    }
                                                    else if (ViewBag.is_immune == null)
                                                    {
                                                        <td>Bilgi Bulunamadı</td>
                                                    }
                                                </tr>
                                                <tr>
                                                    <th scope="col">Son 48 Saat Negatif Test</th>
                                                    @if (ViewBag.last_negative_test_date != null)
                                                    {
                                                        <td>@ViewBag.last_negative_test_date</td>
                                                    }
                                                    else if (ViewBag.last_negative_test_date == null)
                                                    {
                                                        <td>Bilgi Bulunamadı</td>
                                                    }
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                                <!--end: Wizard Step 3-->
                                <!--begin: Wizard Step 4-->
                                <!--end: Wizard Step 6-->
                                <!--begin: Wizard Actions-->
                                <div class="d-flex justify-content-between border-top mt-5 pt-10" style="display: block !important">
                                    <div class="mr-2">
                                        <button onClick="this.form.submit(); this.disabled=true; this.value='Sending…'; " type="submit" data-toggle="modal" data-target="#exampleModal" style="float: right !important" class="btn btn-light-success font-weight-bolder text-uppercase px-9 py-4">Kaydet</button>

                                    </div>
                                </div>
                                <!--end: Wizard Actions-->
                                <h1 style="font-size: 1em; color:red; text-align:center">@ViewBag.loginError</h1>
                                <div></div><div></div><div></div><div></div><div></div>
                            </form>
                                }



                            </div>
                            <!--end: Wizard-->
                        </div>
                        <!--end: Wizard Form-->
                    </div>
                    <!--end: Wizard Body-->
                </div>
                <!--end: Wizard-->
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>

